<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">RESTful Blog App</div>
	<div class="ui top segment">
		<div class="ui divided items">
			<% if (blogs === undefined || blogs.length == 0) {%>
			
			<div class="item">
				<div class="image">
					<a class="ui left corner label" href="/blogs/new">
						<i class="edit icon"></i>
					</a>
					<img src="https://via.placeholder.com/450x300?text=Add+A+Blog">
				</div>
				<div class="content">
					<div class="description">
						<p>
							<strong>Click here to add your first blog!</strong>
						</p>
					</div>
					<div class="extra">
						<a class="ui floated basic blue button" href="/blogs/new">
							Add
							<i class="right chevron icon"></i>
						</a>
					</div>
				</div>
			</div>
			
			
			
				<!-- <div class="ui fluid image">
					<a class="ui left corner label" href="/blogs/new">
						<i class="edit icon"></i>
					</a>
					<img src="https://via.placeholder.com/250x250?text=Add+A+Blog">
				</div> -->

			<% } else { blogs.forEach(function(blog){ %>
			<div class="item">
				<div class="image">
					<img src="<%=blog.image%>">
				</div>
				<div class="content">
					<a class="header" href="/blogs/<%=blog._id%>"><%=blog.title%></a>
					<div class="meta">
						<span><%=blog.created.toDateString()%></span>
					</div>
					<div class="description">
						<p><% if(blog.body.length > 50){ %>
							<%- blog.body.substring(0, 50) %> . . .
							<% } else { %>
							<%- blog.body%>
							<% } %>
						</p>
					</div>
					<div class="extra">
						<a class="ui floated basic blue button" href="/blogs/<%=blog._id%>">
							Read More
							<i class="right chevron icon"></i>
						</a>
					</div>
				</div>
			</div>
			<% })} %>
			<%  %>
		</div>
	</div>
</div>




<% include ./partials/footer %>


 <!-- blog.body.substring(0, 150) %> . . . -->